    <div id="form_modal" class="ui basic modal">
        <div class="ui icon header">
           
        </div>
        <div class="scrolling content">
            
        </div>
    </div>
    <div id="notification_modal" class="ui mini modal">
        <div class="payload">
            
        </div>
    </div>
</body>
<script>
    
</script>
</html>